.categories{
    margin: 50px 100px;
    font-family: "Poppins", sans-serif;
}
.cards{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.category-card{
    background: lightgray;
    width: 30vh;
    padding: 10px 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.category-card img{
    width: 30vh;
    height: 20vh;
    border-radius: 10px;
}
.category-card h3{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 900;
}
.category-card p{
    width: 30vh;
}