.create-blog-container {
  max-width: 600px;
  margin: 40px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.create-blog-container h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 16px;
  color: #555;
  display: block;
  margin-bottom: 8px;
}

.form-group input[type="text"],
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: border-color 0.2s ease-in-out;
}

.form-group input[type="text"]:focus,
.form-group textarea:focus,
.form-group select:focus {
  border-color: #007bff;
  background-color: #fff;
}

.form-group textarea {
  height: 100px;
  resize: none;
}

.form-group select {
  cursor: pointer;
}

/* Image Upload Section */
.image-upload-section {
  text-align: center;
  margin-bottom: 20px;
}

.image-preview img {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #232536;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color:#0f0f14;
}

.error {
  color: #e74c3c;
  text-align: center;
  margin-bottom: 20px;
}

.success {
  color: #2ecc71;
  text-align: center;
  margin-bottom: 20px;
}
