.footer {
    padding: 10px 100px;
    background: #232536;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.footer-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-top ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}

.footer-top ul li a {
    color: white; /* Set default link color */
    text-decoration: none; /* Remove underline */
    font-size: 18px;
}

.footer-top ul li a:hover {
    color: #ff5959; /* Change color on hover */
}

.footer-top ul li a.active {
    font-weight: bold;
    color: #ff5959; /* Change color for active link */
}

.footer-newsletter {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    background: #2a2b38;
    padding: 50px 20px;
    margin-top: 50px;
}

.footer-newsletter h2 {
    font-size: 2em;
    margin-left: 50px;
}

.footer-newsletter input {
    width: 50vh;
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
    margin-left: 100px;
}

.footer-newsletter button {
    width: 20vh;
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background: #ff5959;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-bottom ul {
    display: flex;
    gap: 20px;
}

/* Style social media icons */
.footer-bottom ul li {
    list-style-type: none;
}

.footer-bottom ul li a {
    color: white; /* Default color for icons */
    font-size: 24px;
    text-decoration: none;
}

.footer-bottom ul li a:hover {
    color: #ff5959; /* Hover effect for social icons */
}

